@{
	var homeNode = Model.AncestorOrSelf(1);
	var CurrentPage = Model;
}

<!--start header-->
<div id="siteheader">
<p><b>FUTURE</b><br /><b>FLOORING</b><br />AUSTRALIA</p>
</div>
<div id="sitebanner">sitebanner</div>
<header>

	@if(homeNode.Children.Count() > 0) {
	<div id="cssmenu">
		<ul> 
			<li><a class='@Library.If(homeNode.Id == Model.Id, "current","")' href="@homeNode.Url">@homeNode.Name</a></li>                          
			@foreach (var page in homeNode.Children.Where("nodeTypeAlias == \"StandardTemplate\" || nodeTypeAlias == \"ContactUSTemplate\" || nodeTypeAlias == \"HomeTemplate\" || nodeTypeAlias == \"NewsTemplate\" ").Where("Visible")) 
			{
				CurrentPage = Model;
				if(Model.NodeTypeAlias == "NewsDetailsTemplate") 
				{
					CurrentPage = Model.Parent;                                                  
				}
			<li><a class='@Library.If(page.Id == CurrentPage.Id,"current","")' href="@page.Url">@page.Name</a></li>  

			}
		</ul>
	</div>
	}

</header>
<!--end header-->
<!--start intro-->


<!--end intro-->
}